#experience{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.expTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.expDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 71rem;
    padding: 0 2 rem;
}

.expDiv{
    width: 100vw;
    max-width: 80%;
    text-align: left;
    align-self: center;
}

.expRow{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    color: yellow;
}
.expImage{
    object-fit: contain;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
}

.expText>p{
    font-size: 0.9rem;
    font-weight: 300;
    text-align: right;
    color: white;
}

.expDet{
    max-width: 99%;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: justify;
    color: white;
}

@media screen and (max-width:720px) {
    .expText>p{
        font-size: 2vw;       
    }
}

@media screen and (max-width:480px) {
    .expText>p{
        font-size: 3vw;       
    }
    .expImage{
        height: 2.25rem;
        width: 2.25rem;
    }
    .expText>h2{
        font-size: 5rvw;
    }
}